body{}
.container{width:60%;margin:0px auto;text-align:center;}
.container form{padding:35px 0px;}
input[type='text'], input[type='submit']{padding:10px 10px;font-size:22px;}
input[type='text']{width:50%;}
.container img{display: block;padding: 8px;border: solid;border-color: #dddddd #aaaaaa #aaaaaa #dddddd;border-width: 1px 2px 2px 1px;background-color: white;max-width:100%;}
